/* Add styles for the header, logo, and search box */
.header {
  display: flex;
  justify-content: space-between; /* Spreads out logo and search box */
  align-items: center;
  padding: 1rem; /* Add some padding */
}

.headerLogo {
  flex: 1; /* Allows logo to grow and take necessary space */
}

.headerSearch {
  flex: 1; /* Allows search box to grow and take necessary space */
}

/* Mobile friendly adjustments */
@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Stack logo and search box vertically */
  }

  .headerSearch {
    width: 100%; /* Full width for the search box */
    margin-top: 1rem; /* Add some space between logo and search box */
  }

  .duckCardGroup {
    display: flex;
    margin-top: 30px;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    min-height: 100vh; /* Ensure it takes at least the full height of the viewport */
  }

  /* Card header styles to position P1 and distance
.cardHeaderContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* Responsive adjustments for the card header on smaller screens */
@media (max-width: 768px) {
  .cardHeaderContent {
    flex-direction: column;
    align-items: flex-start;
  }
  .cardHeaderContent > span:last-child {
    align-self: flex-end;
    margin-top: 0.5rem;
  }
  /* DuckCardHeader.css */
.duck-card-header {
  display: flex !important;
  justify-content: space-between !important;
  width: 100% !important;
}

.duck-card-header span {
  flex: 1 !important;
  /* Apply text-align to position and distance */
  text-align: left !important; /* For the position */
  &:last-child {
    text-align: right !important; /* For the distance */
  }
}



}
}