/* Add styles for the header, logo, and search box */
.header {
  display: flex;
  justify-content: space-between; /* Spreads out logo and search box */
  align-items: center;
  padding: 1rem; /* Add some padding */
}

.headerLogo {
  flex-grow: 1; /* Allows logo to grow and take necessary space */
}

.headerSearch {
  flex-grow: 2; /* Allows search box to take more space */
  max-width: 500px; /* Maximum width of the search box */
  margin-left: auto; /* Ensures it stays to the right */
}

/* DuckCard styles */
.duck-card-link {
  display: block;
  color: inherit; /* Ensure the link color does not change */
  text-decoration: none; /* Remove underline from links */
}

.duck-card {
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  margin-bottom: 1rem; /* Add space below the card */
}

.duck-card:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.2); /* Add a subtle shadow to indicate interactivity */
}

.duck-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem; /* Space between the header and the card content */
}

.duck-card-distance {
  font-weight: bold; /* Make the distance stand out */
}

/* Color styles for different positions */
.red-card {
  background-color: #ffe5e5; /* Light red background */
  color: red; /* Red text color */
}

.blue-card {
  background-color: #e5e5ff; /* Light blue background */
  color: blue; /* Blue text color */
}

.green-card {
  background-color: #e5ffe5; /* Light green background */
  color: green; /* Green text color */
}

/* Mobile friendly adjustments */
@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Stack logo and search box vertically */
  }

  .headerSearch {
    width: 100%; /* Full width for the search box */
    margin-top: 1rem; /* Add some space between logo and search box */
  }

  /* Responsive grid adjustments for DuckCard on smaller screens */
  .ui.grid>.row>.column, .ui.grid>.column {
    flex-basis: 50% !important; /* Set to use 50% of the row */
    max-width: 50% !important; /* Set a maximum width to 50% of the container */
    display: inline-block !important; /* Needed to prevent full-width stretch on flex items */
  }

  .duck-card {
    margin-left: auto; /* Centers the card if it's less than full width */
    margin-right: auto; /* Centers the card if it's less than full width */
    max-width: 100%; /* Limits card width to prevent stretching */
  }

  .duck-card-header {
    flex-direction: column; /* Position above distance */
    text-align: center; /* Center the text for mobile */
  }

  .duck-card-distance, .position, .ui.header.h3 {
    display: block; /* Stack position, distance, and name */
    width: 100%; /* Full width of the card */
    margin-top: 5px; /* Space between position, distance, and name */
    text-align: center; /* Center the text */
  }
}
