.game-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    aspect-ratio: 4 / 3;
    /* Maintain 800x600 aspect ratio */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center the content vertically */
}

.start-component-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    /* Optional: to obscure the game until start */
    z-index: 10;
    /* Ensures it lays on top of the canvas */
}

@keyframes pulse {
    0% {
        transform: translateY(-50%) scale(1);
        opacity: 0.5;
    }

    50% {
        transform: translateY(-50%) scale(1.2);
        opacity: 0.8;
    }

    100% {
        transform: translateY(-50%) scale(1);
        opacity: 0.5;
    }
}